	
    <div class="container">
        <br/>
         <div class="row">
            <div class="col-sm-6">
                 <h2><%= projet.titre %></h2>
             </div>
             
         </div>
        <div class="row">
            
            <div class="col-md-12">
                

                <div class="table-wrapper">
                    <div class="table-title">
                        <br/>
						<div class="row">
                            <div class="col-sm-6">
                                <a href="/produit/new/<%= projet.id %>" class="btn btn-success">Ajouter une maison au projet</a>
                            </div>
                            
                        </div>
						<br/>
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Maisons Modulaires</h2>
                            </div>
                            
                        </div>
                    </div>
                            
                  
                    <table class="table table-striped thead-dark table-hover">
                        <thead>
                            <tr>
                                <th>Réf.</th>
                                <th>Nom</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: rows">
                        <% if(produits){ %>
							<% _.each(produits, function(produit) { %>
								<tr>
                                    <td><%= produit.id %></td>
									<td> <a href="/produit/update/<%= produit.id %>" ><%= produit.note %></a></td>
									<td>
										<a href="/produit/destroy/<%= produit.id %>?projet=<%= projet.id %>"><img src="/images/trash.png" alt="Suppr." class="icone"/></a>
									</td>
								</tr>
							<% }) %>
                            
                        <% } %>
                        </tbody>
                    </table>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/produit/devis/<%= projet.id %>" class="btn btn-success">Devis Quantitatif et Estimatif</a>
                    </div>
                    
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/produit/dossier/<%= projet.id %>" class="btn btn-success">Dossier Technique</a>
                    </div>
                    
                </div>
                


            </div>

        </div>
    </div>